.animal-carousel__img {
  width: 170px!important;
  height: 170px!important;
}

.animal-carousel__round {
  border-radius: 75px;
}

.animal-carousel__indicator {
  color: black;
}

.animal-carousel-inner {
  max-width: 1200px;
}