@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');

:root {
    --title-color: #519ac9;
    --subtitle-color: #242D31;
    --text-color: #647A81;
    --time-color: #647A81;
    --price-color: #235565;
    --plan-title-color: #242D31;
    --price-features-color: #647A81;
    --checkmark-color: #519ac9;
    --bn-select-color: #235565;
    --select-border-color: #647A81;
    --select-visited-color: #519ac9;
    --select-hover-color: #235565;
    --select-active-color: #235565;
    --subtext-color: #235565;
    --crossmark-color: #6f6f72;
    --button-text-color: #fff;
    --svg-bg-color: #235565;
    --svg-arrow-color: #fff;
    --details-card-bg-color: #f8fafb;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    display: grid;
    grid-template-columns: minmax(390px, 1200px);
    justify-content: center;
}

img {
    width: 100%;
    display: block;
}


