@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');

:root {
    --title-color: #519ac9;
    --subtitle-color: #242D31;
    --text-color: #647A81;
    --time-color: #647A81;
    --price-color: #235565;
    --plan-title-color: #242D31;
    --price-features-color: #647A81;
    --checkmark-color: #519ac9;
    --bn-select-color: #235565;
    --select-border-color: #647A81;
    --select-visited-color: #519ac9;
    --select-hover-color: #519ac9;
    --select-active-color: #235565;
    --subtext-color: #235565;
    --crossmark-color: #6f6f72;
    --button-text-color: #fff;
    --svg-bg-color: #235565;
    --svg-bg-color-hover: #647a81;
    --svg-bg-arrow-mobile-color: #242D31; 
    --svg-arrow-color: #fff;
    --svg-bn-hover: #235565;
    --details-card-bg-color: #f8fafb;
    --footer-bg: #f8fafb;
    --footer-links: rgba(35, 85, 101, 0.46);
    --footer-links-active: #235565;
    --footer-text: rgb(100, 122, 129);
    --footer-icon: #519ac9;
    --footer-icon-active: #3781b0;
    --footer-btn-up-bg: #fff;
    --under-circle-color: #235565;
    --blink-text: 'red'!important;
    --indicator-color: #235565;
    font-family: "Poppins", sans-serif!important;
    scroll-behavior: smooth;
}
body {
    display: grid;
    justify-content: center;
    font-family: "Poppins", sans-serif!important;
}
main {
    position: relative;
}
.container-custom {
    max-width: 1200px;
    padding: 0 24px;
    margin: auto;
}

img {
    width: 100%;
    display: block;
}

.highlight {
    color: red!important;
}
