.contacts__form-box {
  align-items: baseline;
  background-color: rgb(255, 255, 255);
  margin:auto;
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contacts__form {
  display: flex;
  flex-direction: column;
}
.contacts__form-box input,
.contacts__form-box textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contacts__form-box {
  max-width: 1200px;
  margin: auto;

}
.contacts__form-box-raq {
  background-color: rgb(81, 154, 201);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
p {
  font-family:  Poppins, sans-serif;
}
.contacts__information {
  max-width: 1200px;
  margin: auto;
}

.contacts__title {
  color: #519ac9;
  font-size: 24px;
  margin-bottom: 12px;
}
.contacts__mainquastion {
  font-weight: bold;
  color: rgb(36, 45, 49);
  heigh: auto;
  font-size: 35px;
}

.contacts__container {
  margin-top: 20px;
}
.contacts__commonbox {
  align-items: center;
justify-content: center;
}