.contacts__form-box {
  align-items: baseline;
  background-color: rgb(255, 255, 255);
}
.contacts__form {
  display: flex;
  flex-direction: column;
}
.contacts__form-box input,
.contacts__form-box textarea {
  margin-bottom: 10px;
  padding: 8px;
}
.contacts__form-box {
  max-width: 1200px;
  margin: auto;
}
.contacts__form-box-raq {
  background-color: rgb(35, 85, 101);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}