.contacts {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.contacts__commonbox {
  display: flex;
  flex-direction: column; 
  max-width: 320px; 
  margin: 0 auto;
}
.contacts__information {
  padding-right: 0; 
  padding-left: 20px;
  text-align: left;
}
.contacts__title {
  font-size: 20px; 
  margin-bottom: 10px;
  color: #519ac9
}


.contacts_havequastion,
.contacts__information p,
.contacts__address,
.contacts__hours,
.contacts__phoneandmail {
  margin-bottom: 10px;
}


.contacts__address b,
.contacts__hours b,
.contacts__phoneandmail b {
  color: #235565;
}


.contacts__form-box {
  padding: 60px 70px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #f8f8f8;
}
.contacts__form {
}

.contacts__form input,
.contacts__form textarea {
  width: 100%;
  padding: 8px; 
  margin-bottom: 10px;
  text-align: center;
}
.contacts__form textarea {
  height: 150px;
  padding: 20px 30px;
}

.contacts .contacts__form-box-raq {
  padding: 20px 30px;
  background-color:rgb(35, 85, 101);
  color: rgb(255, 255, 255);
  margin-top: 56px;
}


.contacts__map iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
@media only screen and (min-width: 320px) {
  .contacts__commonbox {
    max-width: 320px;
  }

  .contacts__title {
    font-size: 20px;
  }

  .contacts__map iframe {
    height: 200px;
  }
}
.contacts__commonbox {
  font-size: 16px;
}
.contacts__mainquastion {
  font-size: 32px;
}
.contacts__form-box-raq {
border-radius: 5px;
max-width: 100%;
}
.contacts .contacts__form-box-comments,
.contacts .contacts__form-box-email,
.contacts .contacts__form-box-tel,
.contacts .contacts__form-box-name {
  text-align: left;
}

.contacts .contacts__form-box-comments:focus,
.contacts .contacts__form-box-email:focus,
.contacts .contacts__form-box-tel:focus,
.contacts .contacts__form-box-name:focus {
  border: 1px solid red;
  border-radius: 6px;
}

.contacts .contacts__form-box-email,
.contacts .contacts__form-box-tel,
.contacts .contacts__form-box-name {
  margin-bottom: 24px;
}

.adress b{
  display: inline-block;
  min-width: 150px;
  font-size: 24px;
}
.adress span {
  max-width: 300px;
  display: inline-block;
  color:var(--footer-text);
}
@media (max-width: 1200px) {
  .adress b {
    min-width: 100%;
    width: 100%;
    display: block;
  }
}
.contacts .contacts__form-box-name,
.contacts .contacts__form-box-tel, 
.contacts .contacts__form-box-email {
  padding: 20px 30px;
 }
 .contacts__table {
  margin-top: 20px;
 }
 .contacts__phoneandmail span a{
  color:var(--contacts-links)
 }
 .contacts .contacts__form-box-comments::placeholder,
.contacts .contacts__form-box-email::placeholder,
.contacts .contacts__form-box-tel::placeholder,
.contacts .contacts__form-box-name::placeholder {
  color: black;
  opacity: 0.5;
}
@media (max-width: 992px) {
.contacts__form-box {
  margin-top: 50px;
}
}
.contacts_clock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 114px;
  font-size: 25px;
}
.contacts__commonbox-p {
  color:var(--contacts-text)
}