.faq__animals-photo-list__items {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  min-height: 150px;
}

.faq__animals-photo-list__items div {
display: flex;
align-items: center;
justify-content: center;
}

.faq__animals-photo-list__items img {
  width: 100%;
}


.faq__default-answers__title {
  color: rgb(81, 154, 201);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight:700;
  letter-spacing: 0.36px;
  line-height: 21.84px;
}
.faq__default-answers__headline {
  color: rgb(36, 45, 49);
  font-family: Signika, sans-serif;
  font-size: 41px;
  font-weight: 600;
  line-height: 49.2px;
  margin-top: 20px;
}
.faq__default-answers__caption {
  color: rgb(100, 122, 129);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.faq__default-answers__quastion {
  color: rgb(100, 122, 129);
  font-family: Signika, sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  text-align: left;
  width: 75%;
}
.faq__default-answers__answer {
  color: rgb(100, 122, 129);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  margin-top: 20px;
}
.faq__default-answers__item{
  padding-top: 20px;
  padding-bottom: 20px;
}
.faq__default-answers {
  max-width: 19.4rem;
  padding-left: 24px;
}
.faq__animals-photo-list {
  max-width: 19.4rem;
  padding-left: 24px;
  position: relative;
}
hr {
  height: 0.5px;
  background-color: rgb(100, 122, 129);;
  border-color: rgb(100, 122, 129);;
}
.faq__all-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.faq__default-answers__show-aswer {
  background-color: rgba(0, 0, 0, 0);
  text-align: right;
  width: 25%;
}
.faq__animals-photo-next, .faq__animals-photo-previous {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: calc(50% - 10px);
}
.arrow-animal {
  color:  rgba(0, 0, 0, 0);
  fill: rgb(255, 255, 255);
  margin-top: 20%;
  width: 20px;
  height: 20px;
}
.faq__animals-photo-previous {
  transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
  left: 9%;
}
.faq__animals-photo-next {
  right: 5%;
}
.faq__default-answers__item__inline{
  display: flex;
}
.arrow-button {
  width: 32px;
  height: 32px;
  background-color: rgb(35, 85, 101);
  border-radius: 100%;
}
@media (min-width: 768px){
  .faq__all-block {
    flex-direction: row;
  }
  .faq__animals-photo-list {
    max-width: 34.1rem;
  }
  .faq__animals-photo-item {
    max-width: 34.1rem;
  }
  .faq__default-answers {
    max-width: 34.1rem;
  }
}