@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');
* {
  padding: 0;
  margin: 0;
  align-items: center;
}

.partners {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 32px;
  padding-right: 32px;
}

.partners__title {
  padding-left: 15px;
  padding-right: 15px;
}
.partners__title-main {
  color: rgb(81, 154, 201);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.36px;
  line-height: 25.6px;
}

.partners__title-description {
  color:rgb(36, 45, 49);
  font-family: Signika, sans-serif;
  font-size: 41px;
  font-weight: 600;
  line-height: 49.2px;
  letter-spacing: normal;
  text-align: center;
  padding-top: 25px;
}

.partners__carousel-slides {
  display: flex;
  padding-top: 43px;
  justify-content: center;
  position: relative;
  vertical-align:baseline;
}

.partners__carousel-slide {
  height: 139.094px;
  width: 223px;
  padding-left: 15px;
  padding-right: 15px;
}

.partners__carousel-btn-prev, .partners__carousel-btn-next {
  cursor: pointer;
  position: absolute;
  width: 32px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  overflow-wrap: break-word;
  text-align: center;
  vertical-align: baseline;
  z-index: 1;
}