:root {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    display: grid;
    grid-template-columns: minmax(390px, 1200px);
    justify-content: center;
}

img {
    width: 100%;
    display: block;
}

.pricing {
    margin:0;
}

.pricing__title {
    color: #519ac9;
}