.pricing {
    margin:0;
    padding:60 24 50 24;
}

.pricing__content {
    padding: 0 15px;
}

/*
@media (min-width: 500px) {
    display: flex;
}*/

.pricing__title {
color: var(--title-color);
font-size: 0,75rem;
text-align: left;
font-weight: bold;
font-family: inherit;
}

.pricing__subtitle {
font-size: 2,125rem;
color: var(--subtitle-color);
text-align: left;
font-weight: bold;
font-family: "Signika", sans-serif;
margin-top: 20px;
}

.pricing__description {
    color: var(--text-color);
    font-size: 1rem;
    text-align: justify;
    margin-top: 25px;
    font-family: inherit;
}

.pricing__schedule {
    margin-top: 20px;
    margin-bottom: 16px;
}
.pricing__day > p {
    margin-bottom: 5px;
    color: var(--subtext-color);
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
}

.pricing__price {
    font-size: 2,125rem;
    font-family: inherit;
    font-weight: bold;
    color: var(--subtext-color);
}

.pricing__plan {
    margin-top: 30px;
    padding: 31px;
}

.pricing__plan-title {
    font-size: 1,375rem;
    font-family: "Signika", sans-serif;
    color: var(--subtitle-color);
    margin-top: 25px;
}

.pricing__time > p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

.pricin__features {
    margin-top: 20px;
}
.pricing__features-checkmark {
    color: var(--title-color);
    height: 16px;
    width: 16px;
}

.pricing__features-crossmark {
    color: var(--crossmark-color);
    height: 16px;
    width: 16px;
}

.pricing__features > li {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

.pricing__select-plan {
    font-size: 0,675rem;
    font-family: "Poppins", sans-serif;
    color: var(--button-link-color);
    background-color: var(--text-color);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding: 16px 24px;
    margin: 10px;
    cursor: pointer;
}