.pricing {
    display: flex;
    margin: 0;
}

.pricing__info {
    width: 400px;
    height: 527px;
    margin: 0 15px;
    box-sizing: border-box;
    padding: 60px 24px 50px;
    border: 1px solid black; /*later to do border none*/
}
.pricing__title {
    color: var(--title-color);
    font-family: "Poppins", sans-serif;
    font-size: 0,75 rem;
    font-weight: bold;
  
}

.pricing__subtitle {
    color: var(--subtitle-color);
    font-size: 40px;
    line-height: normal;
    font-family: "Signika", sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.pricing__description {
    color: var(--text-color);
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    margin-top: 25px;
    line-height: normal;
}

.pricing__schedule {
    display: flex;
    justify-content:left;
    margin-top: 20px;
}

.pricing__day {
    color: var(--subtext-color);
    font-family: "Poppins", sans-serif;
    font-size: 1 rem;
    font-weight: bold;
}

.pricing__day p:nth-child(-n+2) {
    padding: 8px 15px 8px 0;
}

.pricing__day p:last-child {
    padding: 8px 15px 0 0;
}

.pricing__time {
    color: var(--time-color);
    font-family: "Poppins", sans-serif;
    font-size: 1 rem;
}

.pricing__time p:nth-child(-n+2) {
    padding: 8px 0 8px 15px;
}
.pricing__time p:last-child {
    padding: 8px 0 0 15px;
}

.pricing__price {
    color: var(--price-color);
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.pricing__plan-title {
    color: var(--plan-title-color);
    font-family: "Signika", sans-serif;
    font-size: 1,5rem;
    margin-top: 25px;
}

.pricing__features {
    color: var(--price-features-color);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
   /* margin-top: 20px; flex code from here
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.pricing__features li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;*/
}

.pricing__features-checkmark, .pricing__features-crossmark {
    margin-right: 10px;
}

.pricing__features-checkmark {
    color: var(--checkmark-color);
    height: 20px;
    width: 24px;
}
.pricing__features-crossmark {
    color: var(--crossmark-color);
    height: 20px;
    width: 24px;
}

.pricing__details {
    display: flex;
    justify-content: space-around;
}

.pricing__details-card {
    height:400px;
    width: 447px;
    background-color: var(--details-card-bg-color);
    border: 1px solid black; /*later border none*/
    padding: 40px;
    margin: 0 15px;
    box-sizing: border-box;
}

.pricing__select-button {
    margin-top: 20px;
}

.pricing__select-plan {
    background-color: var(--bn-select-color);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0,675rem;   
    font-family: "Poppins", sans-serif;
    color: var(--button-text-color);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 16px 24px;
    margin: 10px;
    cursor: pointer;
}

.pricing__select-bn-content {
    padding-right: 32px;
}
