.carousel {
    max-width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Ensure the track container takes the full width and height */
.carousel__track-container {
    width: 100%;
    overflow: hidden;
}

/* Horizontal list styling for the carousel track */
.carousel__track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
}

/* Individual slide styling */
.carousel__slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Carousel image styling */
.carousel__image {
    max-width: 100%;
    display: block;
    margin-bottom: 40px;
    border-radius: 40px;
}

/* Styling for navigation buttons */
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 24px;
    z-index: 100;
}

.carousel__button:focus {
    outline: none;
}

.carousel__button--left {
    left: 15px;
}

.carousel__button--right {
    right: 15px;
}

/* Styling for the carousel indicators (navigation dots) */
.carousel__nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel__indicator {
    background-color: #ccc;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.carousel__indicator--active,
.carousel__indicator:hover {
    background-color: #333;
}