.carousel {
    position: relative;
    max-width: 800px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
}

.carousel__track-container {
    position: relative;
}

.carousel__track {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel__slide {
    min-width: 100%; /* Each slide takes full width of the container */
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.carousel__image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.carousel__button--left {
    left: 10px;
}

.carousel__button--right {
    right: 10px;
}

.carousel__nav {
    text-align: center;
    padding-top: 10px;
}

.carousel__indicator {
    display: inline-block;
    background-color: #ddd;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel__indicator--active {
    background-color: #333;
}