.carousel {
    max-width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0.2);
}

/* Ensure the track container takes the full width and height */
.carousel__track-container {
    width: 100%;
    overflow: hidden;
}

/* Horizontal list styling for the carousel track */
.carousel__track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
}

/* Individual slide styling */
.carousel__slide {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Carousel image styling */
.carousel__image {
    max-width: 100%;
    display: block;
    margin-bottom: 40px;
    border-radius: 40px;
}

/* Styling for navigation buttons */
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 24px;
    z-index: 100;
}

.carousel__button:focus {
    outline: none;
}

.carousel__button--left {
    left: 15px;
}

.carousel__button--right {
    right: 15px;
}

/* Styling for the carousel indicators (navigation dots) */
.carousel__nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel__indicator {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 0%;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.carousel__indicator--active,
.carousel__indicator:hover {
    background-color: hsl(0, 9%, 89%);
}
.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    margin: 10px;
    cursor: pointer;
  }
  
  /* Left arrow */
  .arrow-left::before {
    content: '';
    border-width: 10px 12px 10px 0;
    border-color: transparent #ddd9da transparent transparent;
  }
  
  /* Right arrow */
  .arrow-right::before {
    content: '';
    border-width: 10px 0 10px 12px;
    border-color: transparent transparent transparent #ddd9da;
  }
  
  /* Hover effect for arrows */
  .arrow:hover::before {
    border-color: transparent #ddd9da transparent transparent;
  }
  
  .arrow:hover::after {
    border-color: transparent transparent transparent #ddd9da;
  }
  .service-carousel__img {
    width: 170px!important;
    height: 170px!important;
}

.service-carousel__round {border-radius: 75px;
}


h4 {
    font-family: 'Signika Light', sans-serif; /* Replace 'sans-serif' with a secondary font if needed */
    color: #212736;
    font-weight: 400;
    font-style:italic;
}

p {
    font-family: 'Poppins-Bold', 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #647a81;
    border-bottom-color: #647a81 (35, 85, 101);

}
