@charset "UTF-8";
.header {
  display: flex;
  justify-content: center;
}
.header .header__container {
  padding: 30px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 1200px;
  justify-content: space-between;
  align-items: center;
}
.header .header__container .header__logo {
  background-image: url("../img/header_logo.webp");
  background-size: cover;
  width: 198px;
  height: 58px;
}
.header .header__nav {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.header .header__nav .header__nav-item {
  padding: 0 20px 0 20px;
}
.header .header__social {
  display: flex;
}
.header .header__social .header__social-item-container {
  display: flex;
  padding: 5px;
  margin: 10px 10px 10px 10px;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 8px;
}
.header .header__social .header__img {
  width: 20px;
  height: 20px;
}

.discoveries__brain-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(350px, 950px);
  font-family: sans-serif;
  justify-items: center;
}
.discoveries__brain-wrapper .discoveries__title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.discoveries__brain-wrapper .discoveries__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.discoveries__brain-wrapper .discoveries__brain-container--first {
  grid-template: 425px/minmax(300px, 600px);
}
.discoveries__brain-wrapper .discoveries__brain-container--second {
  grid-template: 500px/minmax(300px, 450px);
}
.discoveries__brain-wrapper .discoveries__brain-container {
  display: grid;
  padding: 20px 0 20px 0;
  justify-items: center;
  justify-self: center;
}
.discoveries__brain-wrapper .discoveries__brain-container .discoveries__brain-img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
.discoveries__brain-wrapper .discoveries__brain-container .discoveries__brain-img--first {
  background-image: url("../img/ratbrain1.webp");
}
.discoveries__brain-wrapper .discoveries__brain-container .discoveries__brain-text {
  text-align: center;
}
.discoveries__brain-wrapper .discoveries__text {
  display: grid;
}
.discoveries__brain-wrapper .discoveries__text .discoveries__brain-img--second {
  background-image: url("../img/ratbrain2.png");
}

h1 {
  margin: 0;
  padding: 0;
}

/*Ваши style.scss нужно указать в ковычках вместо "стили_студента_номер",
 если только css, то в style.css аналогично*/
/*И кстати нужно пока только html, поэтому стили сюда пока что необязательно*/
/*ширина рабочей части сайта 1200px - flex: 0 1 1200px;, шрифт - font-family: "Poppins", sans-serif;*/
/*@import "стили_студента_1";*/
/*@import "стили_студента_2";*/
/*@import "стили_студента_3";*/
/*@import "стили_студента_4";*/
/*@import "стили_студента_5";*/
/*@import "стили_студента_6";*/
/*@import "стили_студента_7";*/
/*@import "стили_студента_8";*/
/*@import "стили_студента_9";*/
/*@import "стили_студента_10";*/
/*@import "стили_студента_11";*/
/*@import "стили_студента_12";*/

/*# sourceMappingURL=style.css.map */
